hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid darken($white, 20);
  border-bottom: 1px solid $white;
}

figure {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  img {
    margin-top: 10px;
  }

  a {
    img {
      transform: translate(0, 0);
      transition-duration: 0.25s;

      &:hover {
        transform: translate(0, -5px);
        box-shadow: 0 0 10px fade($base-color, 20);
      }
    }
  }
}

.btn {
  display: inline-block;
  @include font-rem(14);
  color: $white;
  background-color: $primary;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: $primary;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 8px 20px;

  &:visited {
    color: $white;
  }
  &:hover {
    color: $primary;
    background-color: $white;
  }
}
.btn-inverse {
  color: $primary;
  background-color: $white;
  border-color: $white;

  &:visited {
    color: $primary;
  }
  &:hover {
    color: $white;
    background-color: $primary;
  }
}
.btn-success {
  color: $white;
  background-color: $success;
  border-color: $success;

  &:visited {
    color: $white;
  }
  &:hover {
    color: $success;
    background-color: $white;
  }
}
.btn-warning {
  color: $white;
  background-color: $warning;
  border-color: $warning;

  &:visited {
    color: $white;
  }
  &:hover {
    color: $warning;
    background-color: $white;
  }
}
.btn-danger {
  color: $white;
  background-color: $danger;
  border-color: $danger;

  &:visited {
    color: $white;
  }
  &:hover {
    color: $danger;
    background-color: $white;
  }
}
.btn-info {
  color: $white;
  background-color: $info;
  border-color: $info;

  &:visited {
    color: $white;
  }
  &:hover {
    color: $info;
    background-color: $white;
  }
}

.well {
  padding: 20px;
  border: 1px solid $comp-color;
  border-radius: 4px;
}
