@mixin clearfix {
  *zoom: 1;

  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

@mixin tab-focus() {
  // Default
  outline: thin dotted #333;
  // Webkit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

@mixin font-rem($size) {
  font-size: 0px + $size;
  font-size: 0rem + $size / $doc-font-size;
}

@mixin font-size($size) {
  @include font-rem($size);
  line-height: 0 + round($doc-line-height / $size * 10000) / 10000;
}

@mixin font-margin($size) {
  @include font-size($size);
  margin-bottom: 0px + $doc-line-height;
  margin-bottom: 0rem + ($doc-line-height / $doc-font-size);
}

@mixin content() {
  @include font-margin(16);

  p > a,
  li > a {
    border-bottom: 1px dotted lighten($link-color, 50);

    &:hover {
      border-bottom-style: solid;
    }
  }
}
