---
layout: home.html
title: Search
comments: false
permalink: false
---

<article>
  <div class="centered">
    <h3>Find posts and pages by title, tag or date</h3>
    <input type="text" id="search-input">
  </div>
  <h3>Results</h3>
  <ul id="search-results"></ul>
</article>

<script src="/javascripts/lunr.min.js"></script>
<script src="/javascripts/search.js"></script>
