<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body id="page">
    {{> header}}

    <div id="main" role="main">
      <article class="entry">
        <div class="entry-content">
          {{{ contents }}}
          <footer class="entry-meta">
            <span class="author vcard"><span class="fn">{{site.owner.name}}</span></span>
            <!-- TODO: Social Share -->
          </footer>
        </div>
      </article>
    </div>

    {{> scripts}}

    {{> footer}}
  </body>
</html>
